# Build directory
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Output files
*.txt
!CMakeLists.txt
!requirements.txt

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Keep config files
!mnist-configs/*.config